@mixin linkMenu {
  text-decoration: none;
  color: #ecf0f1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation {
  animation-name: slideDown;
  animation-duration: 1s;
  z-index: -1;
}

@mixin listElement{
  display: inline-block;
  background-color: #3498db;
  width: 150px;
  height: 50px;
  text-align: center;
}

$transition : 0.5s;

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  @include listElement();
}

.menu .link {
  @include linkMenu();
}

.menu .link:hover {
  background-color: #2ecc71;
  color: #2c3e50;
  transition: $transition;
}

.menu ul {
  position: absolute;
  display: none;
  text-align: center;
}

.menu li:hover ul {
  display: block;
}

.menu li:hover .subMenu1 {
  width: 100px;
  @include animation();
}

.menu li:hover .subMenu2 {
  display: none;
}

.menu .otherCountries:hover .subMenu2 {
  display: block;
  @include animation();
  margin-left: 150px;
  margin-top: -50px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.line {
  margin: 0 auto;
  display: block;
  width: 100px
}